<server description="Sample Liberty server">

   <featureManager>
        <feature>servlet-4.0</feature>
        <feature>mpMetrics-1.1</feature>
        <feature>monitor-1.0</feature>
        <feature>mpHealth-1.0</feature> 
   </featureManager>
   <logging traceSpecification="*=info"/>
   <httpAccessLogging id="accessLogging"/>
   <httpEndpoint httpPort="9080" httpsPort="9443" host="*" id="defaultHttpEndpoint" accessLoggingRef="accessLogging">
   </httpEndpoint>
   <applicationManager autoExpand="true"/>
   <mpMetrics authentication="false"/>
</server>
